@charset "utf-8";

/* 초기화 코드 */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
    padding: 20px;
}

#sign_up {
    background: #fff;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

#sign_up fieldset {
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

/* 제출 버튼 */
#sign_up fieldset:last-of-type {
    border: none;
}

/* 로그인 정보, 개인정보 */
#sign_up legend {
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 10px;
}

/* 개인정보 li, 로그인 정보 li */
#sign_up ul li {
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}

/* label요소 */
#sign_up label {
    float: left;
    font-size: 13px;
    width: 110px;
}

/* 제출버튼 */
#sign_up button {
    border: 1px solid #222;
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 7px 25px;
    display: block;
    margin: 0 auto; /* 가운데 정렬 */

}


/* input타입이 text, password, tel, email */
#sign_up input[type=text], #sign_up input[type=password], 
#sign_up input[type=tel], #sign_up input[type=email]{
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
    width: 200px;
}

/* #signup input:not([type=radio]) {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
    width: 200px;
} */

/* input에서 required 속성을 가진 */
#sign_up input[required] {
    border: 1px red solid;
}

/* input에서 readonly 속성을 가진 */
#sign_up input[readonly] {
    border: none;
}

/* 버튼에 마우스 올렸을 때 */
#sign_up button:hover {
    background: #222;
    color: #fff;
}

#sign_up .alert_msg {
    font-size: 0.8rem;
    /* display: block; */
    display: none;
    color: red;
    padding-left: 110px;   
}
#sign_up .must_Ybirthday {
    padding-left: 120px;
}
#sign_up .must_Mbirthday {
    padding-left: 120px;
}
#sign_up .must_Dbirthday {
    padding-left: 120px;
}
.birthday {
    display: flex;
}
.birthday select{
    width: 90px;
    margin-left: 5px;
    margin-right: 5px;
}

select{
    border: 1px solid red;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
    width: 212px;
}
#sign_up .birthday input[type=text]{
 width: 75px;
}
