/* @charset 언어팩 셋 */
@charset "utf-8";
/* reset.css 파일 참조 url 삽입 */
@import url('./reset.css');
/* 구글 font 참조 url 삽입 */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');


.font--gothic {
	font-family: 'Nanum Gothic Coding', monospace;
}

.font--jua {
	font-family: 'Jua', monospace;
}

/* Mobile start */
/* 모바일: 0~766px */
/* https://codepen.io/tag/submenu */
/* https://www.sliderrevolution.com/resources/css-menu/ */
/* scss 변환 사이트: https://www.sassmeister.com/ */


.header{
    /* position: fixed 는 포지션으로 위치를 고정(fixed)
    Ref. https://engkimbs.tistory.com/922 */
	position: fixed;  
    /* width 100% 화면 꽉 차게 */
    width: 100%;
    /* z-index: div 위치 지정(Ref.https://devjhs.tistory.com/634) */
    z-index:2;
    background: white;
    /* box(div) 그림자 생성 */
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.2);
}

.header__Mnav {
    /* display: none 화면 랜더링 없음 */
	display: none;
	position: fixed;
    /* Ref. https://engkimbs.tistory.com/922
    top 해당 태그 요소의 위치를 상단을 기준으로 얼마나 밑에 위치시킬건지 지정.
    (양수이면 상단 기준으로 아래 쪽에, 음수이면 상단 기준으로 위쪽에 위치.)
    top 속성은 position 속성과 함께 사용 
    top: 0 은 포지션이 fiexd 이기 때문에 브라우저의
    왼쪽 꼭지점을 기준으로 하여 div을 얼마만큼 떨어 질 것 인가를 설정한다. .*/
	top: 0;
    /*Ref. https://engkimbs.tistory.com/922 
    left 해당 태그 위치를 좌측 기준으로 어디 쯤에 위치시킬건지 지정.
    left 속성은 position 속성과 함께 사용. 
    left: 0 은 포지션이 fiexd 이기 때문에 브라우저의
    왼쪽 꼭지점을 기준으로 하여 div을 얼마만큼 떨어 질 것 인가를 설정한다 */
	left: 0;
    /* width, height div가 뷰포트를 설정 한 만큼 사용
    ex) 100% 설정임으로 전체 다 쓰겠다 */
	width: 100%;
	height: 100%;
	background-color: rgb(240, 240, 240);
} 

.header__Mnav > .trigger {
    /* header__Mnav안에 trigger라는 클래스 */
	height: 60px;
	/* padding: 20px 0 0 20px; */
	background-color: white;
    /* position: relative
    Ref. https://engkimbs.tistory.com/922 
    static이었을 때 배치되는 위치를 기준으로 상대적 위치를 지정할 수 있는 속성값
    ex) 포지션: 릴레이티브 선언 후 top 30px right 150px 선언을 하면
    static일 때의 기존 위치에서 top 에서 30px 만큼 멀어지고 
    right에서 150px 만큼 멀어진 곳에 위치 한다ㅏ.  */
	position: relative;
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.2);
}

.mobile {
    /* border: 0; border의 선을 없애고 싶을 때 사용 */
	border: 0;
    /* 
    outline 속성은 HTML 요소의 가장 바깥 부분을 둘러싸고 있는 아웃라인 부분의 스타일을 설정합니다.
    이 속성은 border 속성과 마찬가지로 style, width, color 속성을 가집니다.
    하지만 outline 속성은 border 속성과는 달리 HTML 요소의 전체 크기에는 포함되지 않습니다.
    HTML 요소의 높이나 너비는 outline의 두께에 전혀 영향을 받지 않습니다.
    outline: 0;은 border: 0;과 같이 HTML 요소의 외곽선을 없애 준다.
    */
	outline: 0;
    /* 배경색을 없애고 투명하게 만들고 싶다면 
       transparent를 사용해주면 된다. */
	background-color: transparent;
}

.header__Mnav > .trigger > .mobile.close {
    /* position: absolute
    기준이 되는 위치는 가장 가까운 부모 요소 혹은 조상 요소 중 
    position 속성이 relative인 요소 이며 
    left, right, top, bottom 속성값을 이용하여 요소를 위치
    */
	position: absolute;
	top: 20px;
	left: 20px;
    /* font-size em , rem
    1.2em =  부모 요소의 size(.trigger) * 1.2
    1.2rem = 최상위 요소의 size(html) * 1.2  */
	font-size: 1.2rem;
}
.header__Mnav > .Mmenu {
    /* overflow는 해당 요소의 컨텐츠가 div 사이즈 보다 클 때
    어떻게 화면에 랜더링 할 것인가(스크롤, 숨김)를 지정합니다.
    visible : 기본 값입니다. 넘칠 경우 컨텐츠가 상자 밖으로 보여집니다.
    hidden : 넘치는 부분은 잘려서 보여지지 않습니다.
    scroll : 스크롤바가 추가되어 스크롤할 수 있습니다.(가로, 세로 모두 추가 됩니다.)
    auto : 컨텐츠 량에 따라 스크롤바를 추가할지 자동으로 결정됩니다.( 필요에 따라 가로, 세로 별도로 추가될 수도 있습니다.)
    Ref. https://offbyone.tistory.com/296   */
	overflow: auto;
	height: 100%;
}

.header__Mnav .Mmenu__main {
    /* Mmenu__main : <ul>  */
    /* 
    padding: 0 0 0 0 적용 순서
    1. padding-top
    2. padding-right
    3. padding-bottom
    4. padding-left
    paddin: 20px 0 0 20px 는 top 20px left 20px  */
	padding: 20px 0 0 20px;
    /* margin-bottom : 100px  Mmenu__main div의 margin을 아래로 100px 커짐 */
	margin-bottom: 100px;
}
.header__Mnav .Mmenu__main > li {
    /* padding: top 20px right,buttom,left 3개는 0px */
	padding: 20px 0;
    /* border 의 아래쪽 선을 1px 한줄로 rbg 색으로 만듬 */
	border-bottom: 1px solid rgb(209, 209, 209);
    /* position: relative  속성 값이 없음으로 현재 static 과 동일 위치 */
	position: relative;
}
.header__Mnav .Mmenu__main > li > span:nth-of-type(1) {
    /* <span>메뉴소개</span>
    html size(reset.css의 html font-size:100% 임으로
    브라우저의 기본 스타일 시트에 따라 변동) * 1.7 = 1.7rem */
	font-size: 1.7rem;
	margin-bottom: 10px;
    /* span 태그는 inline 임으로 inline-block을 사용하여
    row 형태로 컨텐츠들을 row형 으로 쌇는다 */
	display: inline-block;
}

.header__Mnav .Mmenu__main > li > span:nth-of-type(2) {
	/*  <span><i class="fas fa-chevron-right"></i></span>  */
    /* icon의 위치지정으로 relative가 선언 된 li을 기준으로
    오른쪽에서 10px만 큼 멀어진다  */
    position: absolute;
	right: 10px;
}

.header__Mnav .Mmenu__main > li > .Mlist__drop {
    /* Mmenu__main의 하위 메뉴, <ul> */
    /* ul 컨텐츠의 padding을 왼쪽으로 20px 늘려준다. */
	padding-left: 20px;
}
.header__Mnav .Mmenu__main > li:nth-child(1) > .Mlist__drop { display: none; }
.header__Mnav .Mmenu__main > li:nth-child(4) > .Mlist__drop { display: none; }
.header__Mnav .Mmenu__main > li:nth-child(5) > .Mlist__drop { display: none; }
/* 
    <span>메뉴소개</span>
    <span>브랜드스토리</span>
    <span>고객센터</span>
    위 3가지 li의 하위 메뉴(Mlist__drop = <ul>)를 랜더링 하지 않는다.
*/

.header__Mnav .Mmenu__main > li > .Mlist__drop > li {
    /* 하위 메뉴의 리스트
    html size * 1.5 = 1.5rem
    padding의 Top, right, buttom, left 5px 씩 키움
    */
	font-size: 1.5rem;
	padding: 5px;
}

/*
	align-items : flex line을 기준으로 아이템을 정렬한다.
	align-content: flex line을 정렬한다.(두줄 이상일때만)
	https://letsgojieun.tistory.com/49
*/




.header__nav {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
    /* flex-dircetion: row 뷰포트 width가 컨텐츠를 다 랜더링
     하지 못하면 row로 쌓음 */
	flex-direction: row;
    /* justify-content: space-between 좌, 우 양쪽 끝에 컨텐츠 놓고 나머지 일정 간격으로 놓음 */
	justify-content: space-between;
	height: 60px;
    /* 
    align-items는 교차축의 중앙에 정렬
    justify-content는 중심축의 중앙에 정렬
    Ref. https://joshuajangblog.wordpress.com/2016/09/19/learn-css-flexbox-in-3mins/
    */
	align-items: center;
    /* padding: 0 12px 상,하는 0, 좌,우는 12px */
	padding: 0 12px;
}

.header__nav > div, .header__nav > h1 {
    /* 버거킹 logo 사이즈 조절 */
	width: 33.33%;
}

.header__nav > h1 {
    /* 버거킹 logo 위치 조절 */
	text-align: center;
}

.header__nav > h1 img {
    /* 버거킹 이미지 사이즈 조절 */
	width: 50px;
}

.header__nav > .menu > .delivery-order {
    /* 딜리버리 주문 div 컨텐츠 정렬 */
	text-align: right;
}

.header__nav .menu__main {
    /* 모바일 사이즈 0 ~ 767px에서 상단 메뉴 랜더링 안함 */
	display: none;
}

.header__nav .delivery-order > .button {
    /* 딜리버리 주문 버튼 스타일 지정 */
	border-radius: 35px;
	font-size: 0.5em;
	/* 우선순위 적용 */
	padding: 8px;
	font-weight: bold;	
}

.footer{
	height: 350px;
	background:#2b0200;
	color: rgb(236, 229, 203);
}

.footer__level1 {
	display: none;
}

.footer__level1 > ul.sitemap {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	max-width: 1140px;
	margin: 0 auto;
	padding: 35px 30px;
	border-bottom: 1px solid;
}

.footer__level1 ul.sitemap__list > li {
	padding: 8px 0;
	font-size: 0.9rem;
}

.footer__level1 ul.sitemap__list > li > a {
	font-family: 'Nanum Gothic Coding', monospace, sans-serif;
	font-weight: bold;
	color: rgb(197, 190, 179);
}
.footer__level1 > ul.sitemap a.top {
	font-size: 1.5rem;
	margin-bottom: 15px;
	display: inline-block;
}

.footer__level1 > ul.sitemap a{
	color: white;
}

.footer__level2 > div {
	max-width: 1140px;
	display: flex;
	flex-direction: column;
}
.footer__level2 ul {
	display: flex;
	flex-direction: row;
	padding: 30px 20px;
	justify-content: space-between;
}
.footer__level2 .button-line {
	text-align: right;
	padding-right: 20px;
}








.header__nav > h1{
	width: 100px;
	height: 120px;
}

.header__nav > nav{
	/* 1100px ÷ 1200px */
	width: calc(100% - 100px);

	height: 120px;
}

.header__nav > nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.header__nav > .delivery-order {
	width: 168px;
}